<div class="container-fluid fondo">
  <div class="box-principal">
    <div class="card">
      <mat-horizontal-stepper class="box">
        <mat-step>
          <ng-template matStepLabel>Sus productos</ng-template>
          <!-- creo variable temporal en memoria con as products (ver video clase 51) -->
          <div class="box">
            <h4 class="ml-2">TOTAL: {{ total | currency }}</h4>
            <!-- <label class="text-white"
              ><b>{{ total | currency }}</b></label
            > -->
          </div>

          <div class="table-responsive" *ngIf="bookList as libros">
            <table
              *ngIf="libros.length > 0"
              class="table table-sm table-striped"
            >
              <thead class="encabezado">
                <tr>
                  <td scope="col" class="text-center"></td>
                  <th scope="col" class="text-center text-muted">Producto</th>
                  <th scope="col" class="text-center text-muted">Cantidad</th>
                  <td scope="col" class="text-center"></td>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let b of libros; index as i">
                  <td class="text-center align-middle">
                    <img [src]="b.url_image" class="img-book" />
                  </td>
                  <!-- en la query lado server tenes AS Autor, por eso aca pones b.autor aunque salga en rojo -->
                  <td class="text-center align-middle">
                    {{ b.name }} <br />
                    {{ b.autor }} <br />
                    ${{ b.price }}
                  </td>

                  <td class="text-center align-middle">
                    <input
                      type="number"
                      [id]="b.id_book"
                      [name]="b.id_book"
                      [value]="b.quantity"
                      min="1"
                      max="5"
                      (change)="updateItem($event, b.id_book, i)"
                    />
                  </td>

                  <td class="text-center align-middle">
                    <button
                      mat-mini-fab
                      color="warn"
                      (click)="onDelete(b.id_book)"
                    >
                      <mat-icon>delete</mat-icon>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </mat-step>
        <mat-step>
          <ng-template matStepLabel>Realizar pago</ng-template>
          <h3 class="text-white mt-2">Total: {{ total | currency }}</h3>
          <div
            *ngIf="
              username != null || username != undefined;
              else template_alerta
            "
          >
            <form
              #formu
              [formGroup]="form"
              action="https://bookstore-cds-server.herokuapp.com/checkout"
              method="post"
            >
              <div *ngFor="let data of bookList; index as i">
                <input type="hidden" name="title" [value]="data.name" />
                <input type="hidden" name="price" [value]="data.price" />
                <input type="hidden" name="quantity" [value]="data.quantity" />
              </div>

              <input
                type="hidden"
                name="totalProducts"
                [value]="bookList.length"
              />

              <mat-card id="card-inputs">
                <img
                  src="./../../../../assets/images/img-envios.png"
                  class="img-envios"
                />
                <mat-card-content
                  class="mt-4"
                  style="-webkit-text-fill-color: #5eba7d"
                >
                  <div class="row row-input">
                    <div class="col-xs box-input">
                      
                      <mat-form-field>
                        <mat-label>Provincia</mat-label>
                        <mat-select formControlName="provincia" (selectionChange)="captureValue($event)">
                          <mat-option
                            *ngFor="let provincia of provincias"
                            [value]="provincia"
                          >
                            {{ provincia }}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                      <!-- <mat-form-field>
                        <input
                          [(ngModel)]="order.provincia"
                          formControlName="provincia"
                          type="text"
                          matInput
                          placeholder="Provincia"
                          (keyup)="orderData()"
                        />
                        <div
                          *ngIf="provinciaField.errors && provinciaField.dirty"
                        >
                          <p *ngIf="provinciaField.hasError('required')">
                            <small class="text-danger"
                              >Complete este campo.</small
                            >
                          </p>
                          <p *ngIf="provinciaField.hasError('pattern')">
                            <small class="text-danger"
                              >Ingrese solo letras.</small
                            >
                          </p>
                          <p *ngIf="provinciaField.hasError('maxlength')">
                            <small class="text-danger"
                              >Maximo 30 caracteres</small
                            >
                          </p>
                          <p *ngIf="provinciaField.hasError('minlength')">
                            <small class="text-danger"
                              >Minimo 4 caracteres</small
                            >
                          </p>
                        </div>
                      </mat-form-field> -->
                    </div>
                  </div>

                  <div class="row row-input">
                    <div class="col-xs box-input">
                      <mat-form-field>
                        <input
                          [(ngModel)]="order.localidad"
                          formControlName="localidad"
                          type="text"
                          matInput
                          placeholder="Localidad"
                          (keyup)="orderData()"
                        />
                        <div
                          *ngIf="localidadField.errors && localidadField.dirty"
                        >
                          <p *ngIf="localidadField.hasError('required')">
                            <small
                              >Complete este campo.</small
                            >
                          </p>
                          <p *ngIf="localidadField.hasError('pattern')">
                            <small
                              >Ingrese solo letras.</small
                            >
                          </p>
                          <p *ngIf="localidadField.hasError('maxlength')">
                            <small
                              >Maximo 30 caracteres</small
                            >
                          </p>
                          <p *ngIf="localidadField.hasError('minlength')">
                            <small
                              >Minimo 4 caracteres</small
                            >
                          </p>
                        </div>
                      </mat-form-field>
                    </div>
                  </div>

                  <div class="row row-input">
                    <div class="col-xs box-input">
                      <mat-form-field>
                        <input
                          [(ngModel)]="order.adress"
                          formControlName="adress"
                          type="text"
                          matInput
                          placeholder="Domicilio"
                          (keyup)="orderData()"
                        />
                        <div *ngIf="adressField.errors && adressField.dirty">
                          <p *ngIf="adressField.hasError('required')">
                            <small
                              >Complete este campo.</small
                            >
                          </p>
                          <p *ngIf="adressField.hasError('maxlength')">
                            <small
                              >Maximo 30 caracteres</small
                            >
                          </p>
                          <p *ngIf="adressField.hasError('minlength')">
                            <small
                              >Minimo 4 caracteres</small
                            >
                          </p>
                        </div>
                      </mat-form-field>
                    </div>
                  </div>

                  <div class="row row-input">
                    <div class="col-xs box-input">
                      <mat-form-field>
                        <input
                          [(ngModel)]="order.phone_number"
                          formControlName="phoneNumber"
                          type="tel"
                          matInput
                          placeholder="Teléfono"
                          name="tel"
                          (keyup)="orderData()"
                        />
                        <div
                          *ngIf="
                            phoneNumberField.errors && phoneNumberField.dirty
                          "
                        >
                          <p *ngIf="phoneNumberField.hasError('required')">
                            <small
                              >Complete este campo.</small
                            >
                          </p>
                          <p *ngIf="phoneNumberField.hasError('pattern')">
                            <small
                              >Ingrese solo números sin espacios.</small
                            >
                          </p>
                          <p *ngIf="phoneNumberField.hasError('minlength')">
                            <small
                              >Ingrese un mínimo de 8 números.</small
                            >
                          </p>
                          <p *ngIf="phoneNumberField.hasError('maxlength')">
                            <small
                              >Hasta 12 números permitidos.</small
                            >
                          </p>
                        </div>
                      </mat-form-field>
                    </div>
                  </div>
                </mat-card-content>
                <button
                  [disabled]="form.invalid"
                  type="submit"
                  class="btn btn-success btn-lg btn-block"
                  (click)="formu.submit()"
                >
                  COMPRAR
                </button>
              </mat-card>
              <!-- <div class="text-center mt-2">
                <button
                  [disabled]="form.invalid"
                  type="submit"
                  class="btn btn-success"
                  (click)="formu.submit()"
                >
                  mercado pago
                </button>
              </div> -->
            </form>
          </div>
        </mat-step>
      </mat-horizontal-stepper>
    </div>
  </div>
  <!-- LLamada al spinner/cargador para la peticion HTTP ver servicio spinner.service e interceptor.service-->
  <ngx-spinner></ngx-spinner>
</div>

<ng-template #template_alerta>
  <h3 class="text-danger">Para comprar debe estar logeado</h3>
</ng-template>
