// color del boton Login .mat-color-blue-light la declaro afuera de todo para que tome el color
.mat-color-blue-light {
  background: #1b9ffd;
}

.box {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: center; // (alinea al centro eje horizontal cualquier elemento que este en div .container)
  align-items: center; // (alinea al centro eje vertical qcualquier elemento que este en div container)
  .card {
    // el width se lo doy en la media query abajo de todo
    position: absolute;
    z-index: 10;
    .icon-account-circle {
      font-size: 50px !important;
      color: white !important;
      float: left !important;
    }
    label {
      color: #777; // mismo color text-muted bootstrap
    }
    h2{
      color: white;
    }
    .card-body {
      #cont-btn-login{   
        margin-top: 100px !important;
        button{
          color: white;
        }
      }
      .cont-flex {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 40px;
        .icon {
          //vertical-align: middle !important;
          margin-right: 5px !important;
          color: #777; // mismo color text-muted bootstrap
        }
      }
    }
  }
  .col1,
  .col2 {
    width: 100%;
    display: flex;
    align-items: center; // alineo en centro vertical todo lo que haya en aside y main
    min-height: 50vh;

    span {
      opacity: 0;
    }
  }

  .col1 {
    background: rgb(41, 50, 64);
  }

  .col2 {
    background: #1b9ffd;
  }
}


@media (max-width: 414px) {
  .card{
    width: 100% !important;
    h2{
      font-size: 30px;
    }
    .card-body{
      input{
        height: 50px;
      }
      #cont-btn-login{   
        button{
          height: 50px;
          font-size: 20px;
          color: white;
        }
      }
    }
  } 
}