<div class="box">
  <div class="card">
    <div style="background: #1b9ffd" class="card-header">
      <div class="text-center">
        <mat-icon class="icon-account-circle">account_circle</mat-icon>
        <h2>Sign in</h2>
      </div>
    </div>
    <div class="card-body">
      <form [formGroup]="form" (ngSubmit)="login($event)">
        <div class="form-group mb-3">
          <div class="cont-flex">
            <mat-icon class="icon">face</mat-icon>
            <input
              type="text"
              id="input-username"
              class="form-control"
              formControlName="username"
              [ngClass]="{
                'is-invalid':
                  (f.username.errors && f.username.dirty) || !usernameExist,
                'is-valid': usernameExist && !f.username.errors
              }"
              placeholder="Nombre de usuario"
              maxlength="16"
            />
          </div>

          <p
            *ngIf="
              usernameExist &&
              form.get('username').valid &&
              form.get('username').dirty
            "
            class="text-center"
          >
            <small style="color: green">Usuario valido.</small>
          </p>
          <p
            *ngIf="!usernameExist && form.get('username').dirty"
            class="text-center"
          >
            <small class="text-danger">No existe el nombre de usuario</small>
          </p>

          <div
            *ngIf="form.get('username').errors && form.get('username').dirty"
            class="text-center"
          >
            <p
              class="text-center mt-1 text-danger"
              *ngIf="form.get('username').hasError('maxlength')"
            >
              <small>El nombre de usuario es muy largo!</small>
            </p>
          </div>
        </div>

        <div class="form-group mb-3">
          <div class="cont-flex">
            <mat-icon class="icon">vpn_key</mat-icon>
            <input
              type="password"
              class="form-control"
              formControlName="password"
              placeholder="Contraseña"
              maxlength="16"
            />
          </div>
          <div
            *ngIf="form.get('password').errors && form.get('password').dirty"
          >
            <p
              class="text-center text-danger mt-1"
              *ngIf="form.get('password').hasError('required')"
            >
              <small>Este campo es obligatorio!</small>
            </p>
            <p
              class="text-center text-danger mt-1"
              *ngIf="form.get('password').hasError('maxlength')"
            >
              <small>la contraseña es muy larga!</small>
            </p>
            <p
              class="text-center text-danger mt-1"
              *ngIf="form.get('password').hasError('minlength')"
            >
              <small>la contraseña es corta!</small>
            </p>
          </div>
        </div>

        <div id="cont-btn-login" class="text-center">
          <button
            [disabled]="form.invalid || usernameExist === false"
            type="submit"
            mat-raised-button
            color="color-blue-light"
            class="btn-block"
          >
            Login
          </button>
        </div>

        <div *ngIf="!message" class="text-center">
          <p class="text-danger">{{ message }}</p>
        </div>
      </form>

      <div class="text-center">
        <p>
          ¿No tiene una cuenta? <a routerLink="/auth/signup">Registrarme</a>
        </p>
        <p *ngIf="message != null">
          <small class="text-danger">{{ message }}</small>
        </p>
      </div>
    </div>
  </div>
  <div class="col1">
    <span>col1</span>
  </div>
  <div class="col2">
    <span>col2</span>
  </div>
</div>
