<header>
  <div class="contenedor">
    <a class="icon-bookstore"><mat-icon md-48>eco</mat-icon></a>
    <h1>Bookstore</h1>
    <!-- ////////////// sub menu ////////////////////////////////////// -->
    <div class="sub-menu" *ngIf="username">
      <button mat-button [matMenuTriggerFor]="menu">
        <mat-icon>account_circle</mat-icon>
        {{ username }}
      </button>
      <mat-menu #menu="matMenu">
        <a mat-menu-item [routerLink]="'/order/orders-list'">
          <mat-icon>shopping_cart</mat-icon>
          Mis compras
        </a>
        <a mat-menu-item [routerLink]="'/auth/login'">
          <mat-icon>person_off</mat-icon>
          Cerrar sesión
        </a>
      </mat-menu>
    </div>
    <!-- ////////////////////////////////////////////////////////////// -->
    <input type="checkbox" id="menu-bar" />
    <label class="icon-menu" for="menu-bar">
      <mat-icon>menu</mat-icon>
    </label>
    <nav class="menu">
      <!--  href="/order" porque stripe si no se refresca la pagina no muestra pago de tarjeta -->
      <a id="a-shopping-cart" (click)="checkItems()">
        <mat-icon [matBadge]="total" matBadgeColor="warn"
          >shopping_cart</mat-icon
        >
      </a>
      <a [routerLink]="'/home'"><i class="fa fa-home mr-2" aria-hidden="true"></i>Home</a>
      <a [routerLink]="'/contact/contact'"><i class="fa fa-envelope mr-2" aria-hidden="true"></i>Contacto</a>
      <a [routerLink]="'auth/login'"><i class="fa fa-user mr-2" aria-hidden="true"></i>Login</a>
    </nav>
  </div>
</header>