@import "./../../../sass/variables";

p {
  font-style: italic;
  margin-top: 5px;
}

.box-principal {
  min-height: 100vh;
  .box-container1 {
    margin-top: 70px;
    .box-intro,
    .box-icons-social-media,
    .box-search {
      margin-top: 15px;
    }
    .box-search {
      display: flex;
      justify-content: space-around;
      #select {
        width: 115px;
      }
    }
  }
}

.box-icons-social-media {
  display: flex;
  justify-content: flex-end;
  .logo {
    max-width: 30px;
    max-height: 30px;
  }
}

.box-container2 {
  a {
    cursor: pointer;
  }
  .book-grid {
    display: grid;
    grid-template-columns: repeat(
      auto-fill,
      minmax(200px, 1fr)
    ); // nos hará breakpoints cada 200px
    .card {
      margin: 15px;
      border-radius: 5px;
      display: block; // para que el ancho y alto sean dinamico respecto al elemento
      .cont-img {
        //margin-bottom: 5px !important;
        .crop-image {
          margin-top: 2px;
          padding: 4px;
          display: block; // ?
          height: 250px;
          width: 100%;
          img {
            object-fit: contain;
            height: 100%;
            width: 100%;
            object-position: center;
          }
        }
      }

      .box-btn-border {
        margin-bottom: 10px;
        .btn-border {
          width: 95%;
        }
        // boton para agregar a carrito
        .mat-banner-color {
          background: rgb(41, 50, 64);
        }
        .icon-shopping-cart {
          color: #c5fd43 !important;
        }
      }
    }
    .card:hover {
      -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
      transform: scale(1.1);
      transition: transform 0.4s;
    }
  }
}

.crop-image:hover {
  transition: all linear 0.25s;
  opacity: 0.5;
}

.modal {
  .modal-dialog {
    // importante poner width 100% para que el modal en resoluciones de pantalla movil como 320x568 y 375x667
    // quede bien centrado
    width: 100%;
    .modal-header,
    .modal-footer {
      background: $colorTres;
      color: white;
    }
    .modal-content {
      background: $colorTres;
      .modal-body {
        background: #ffffff;
      }
    }
    .modal-title {
      letter-spacing: 0.1em;
    }
    .modal-body {
      #p-description {
        line-height: 25px;
      }
    }
    .img-thumbnail {
      background-color: #e5e5e5;
    }
    img {
      max-width: 200px;
      max-height: 220px;
    }
  }
}

a {
  color: grey;
  text-decoration: none;
}

a:hover {
  color: #298ccf;
}

@media (max-width: 760px) {
  .box-icons-social-media {
    justify-content: center;
  }

  .header {
    margin-top: 15px;
  }
}

@media (max-width: 414px) {
  .box-container2 {
    a {
      cursor: pointer;
    }
    .book-grid {
      .card {
        margin: 15px auto;

        width: 248px;
        .cont-img {
          a {
            font-size: 25px;
          }
          .crop-image {
            height: 337px;
          }
        }
        .box-btn-border {
          .btn-border {
            height: 60px;
            .icon-shopping-cart {
              font-size: 25px;
            }
          }
          span {
            font-size: 20px;
          }
        }
      }
    }
  }
}
