.box-principal {
  min-height: 100vh;
  .row {
    margin-top: 80px;
    #box{
      input{
        width: 100px;
      }
      button{
        border-radius: 0;
      }
    }
  }
}

@media (max-width: 375px) {
  .caca{
    margin-top: 20px !important;
  } 
}
