@import "./../../sass/variables";

.fondo {
  margin: 0px !important;
  background: $colorUno; // este color esta en carpeta sass/_variables.scss
}

.box-principal {
  min-height: 100vh;
}

.row {
  margin-top: 50px !important;
}

.box {
  display: flex !important;
  justify-content: center !important;
  top: 50px;
}

.card {
  max-width: 300px;
}

a {
  text-decoration: none;
}

.modal {
  .modal-content {
    // este color esta en carpeta sass/_variables.scss
    background: $colorNav !important;
    color: white !important;

    .modal-header {
      button {
        color: white !important;
      }
    }

    .modal-body {
      ul {
        display: block;
        list-style: none;
        li {
          margin-bottom: 10px !important;
        }
      }
    }
  }
}
