<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="#">ADMIN</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarColor01"
    aria-controls="navbarColor01"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarColor01">
    <ul class="navbar-nav mr-auto">    
      <li class="nav-item">
        <a class="nav-link" [routerLink]="'dashboard'">Dashboard</a>
      </li>
    </ul>
  </div>
</nav>

<!-- <header>
  <div class="contenedor">
    <mat-icon md-48 class="icon-bookstore">eco</mat-icon>
    <h1>Admin Bookstore</h1>
    <input type="checkbox" id="menu-bar">
    <label class="icon-menu" for="menu-bar">
      <mat-icon>menu</mat-icon>
    </label>
    <nav class="menu">
      <div class="dropdown">
        <a routerLinkActive="activo" class="dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Libros
        </a>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" [routerLink]="'book/book-list'">Panel libro</a>
          <a class="dropdown-item" [routerLink]="'book/author-panel'">Panel autor</a>
          <a class="dropdown-item" [routerLink]="'/book/editorial-panel'">Panel editorial</a>
          <a class="dropdown-item" [routerLink]="'book/category-panel'">Panel categoria</a>
        </div>
      </div>     
      <a routerLinkActive="activo" [routerLink]="'admin-principal'">Home</a>
      <a [routerLink]="'customer/customer-list'">Clientes</a>
      <a [routerLink]="'sales/dashboard-sales'">Ventas</a>
      <a [routerLink]="'dashboard'">dashboard</a>
    </nav>
  </div>
</header> -->







