<div class="container box-principal">
  <div class="row box-fila">
    <div class="col-sm-4">
      <div class="card">
        <div class="card-body">
          <div class="form-group">
            <input
              type="text"
              name="name"
              class="form-control capitalize"
              [formControl]="authorName"
              (blur)="cleanUnnecessaryWhiteSpaces(authorName)"
              placeholder="Ingrese nombre de autor"
              maxlength="50"
            />
            <p *ngIf="authorName.hasError('required') && authorName.dirty">
              <small class="text-danger">Campo requerido.</small>
            </p>
            <p *ngIf="authorName.hasError('pattern') && authorName.dirty">
              <small class="text-danger">Ingrese solo letras.</small>
            </p>
            <p *ngIf="authorName.hasError('maxlength') && authorName.dirty">
              <small class="text-danger">Solo hasta 35 caracteres.</small>
            </p>
            <p *ngIf="authorName.hasError('minlength') && authorName.dirty">
              <small class="text-danger">Mínimo 4 caracteres.</small>
            </p>
            <button
              [disabled]="authorName.invalid"
              (click)="createAuthor()"
              class="btn btn-success btn-block mt-2"
            >
              Guardar
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-8">
      <div class="card">
        <div class="card-body">
          <input
            class="form-control mr-sm-2 search capitalize"
            type="text"
            name="search"
            placeholder="Autor"
            aria-label="Search"
            [formControl]="inputValueSearch"
            (blur)="cleanUnnecessaryWhiteSpaces(inputValueSearch)"
            maxlength="36"
          />
          <p
            *ngIf="
              inputValueSearch.hasError('pattern') && inputValueSearch.dirty
            "
          >
            <small class="text-danger">No ingrese números.</small>
          </p>
          <p
            *ngIf="
              inputValueSearch.hasError('maxlength') && inputValueSearch.dirty
            "
          >
            <small class="text-danger">No ingrese mas de 35 caracteres.</small>
          </p>
          <p
            *ngIf="
              inputValueSearch.hasError('minlength') && inputValueSearch.dirty
            "
          >
            <small class="text-danger">Mínimo 4 caracteres.</small>
          </p>
          <button
            class="btn btn-outline-success mr-1 mt-2"
            type="button"
            (click)="getAuthorByName()"
            [disabled]="inputValueSearch.invalid"
          >
            Search
          </button>
          <button
            class="btn btn-outline-success mt-2"
            type="button"
            (click)="getAuthors()"
            [disabled]="activated"
          >
            Listar todos
          </button>
          <p style="color: red" *ngIf="authorService.authorArray.length <= 0">
            No se encontraron resultados
          </p>
          <table class="table table-striped mt-4">
            <thead>
              <tr>
                <td></td>
                <th class="text-center">Autor</th>
                <th class="text-center">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr
                *ngFor="
                  let a of authorService.authorArray
                    | paginate: { itemsPerPage: 7, currentPage: actualPage };
                  let i = index
                "
              >
                <input type="hidden" value="{{ a.id_author }}" />
                <td>{{ i + 1 }}</td>
                <td class="text-center">
                  {{ a.name }}
                  <div *ngIf="editing && authorEdit.id_author == a.id_author">
                    <div class="form-group">
                      <input
                        type="text"
                        name="editedName"
                        [formControl]="authorNameEdit"
                        (blur)="cleanUnnecessaryWhiteSpaces(authorNameEdit)"
                        class="form-control capitalize"
                        maxlength="36"
                        placeholder="{{ a.name }}"
                      />
                      <p
                        *ngIf="
                          authorNameEdit.hasError('pattern') &&
                          authorNameEdit.dirty
                        "
                      >
                        <small class="text-danger">No ingrese números.</small>
                      </p>
                      <p
                        *ngIf="
                          authorNameEdit.hasError('maxlength') &&
                          authorNameEdit.dirty
                        "
                      >
                        <small class="text-danger"
                          >Solo hasta 35 caracteres.</small
                        >
                      </p>
                      <p
                        *ngIf="
                          authorNameEdit.hasError('minlength') &&
                          authorNameEdit.dirty
                        "
                      >
                        <small class="text-danger">Mínimo 4 caracteres.</small>
                      </p>
                      <button
                        class="btn btn-outline-success mr-1 mt-2"
                        type="button"
                        (click)="updateAuthor()"
                        [disabled]="authorNameEdit.invalid"
                      >
                        Update
                      </button>
                      <button
                        class="btn btn-outline-warning mr-1 mt-2"
                        type="button"
                        (click)="editing = false"
                      >
                        Cancelar
                      </button>
                    </div>
                  </div>
                </td>
                <td class="text-center">
                  <button
                    class="btn btn-primary btn-sm"
                    (click)="editAuthor($event, a.id_author)"
                  >
                    Editar
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
          <!-- controles del pagination -->
          <pagination-controls
            (pageChange)="actualPage = $event"
          ></pagination-controls>
        </div>
      </div>
    </div>
  </div>
</div>
