@import "./../../../../sass/variables";

.fondo {
  background: #f2f2f2;
}

.box-principal {
 min-height: 100vh;
 padding-top: 100px; 
  .row {
    #box {
      input {
        width: 100px;
      }
      button {
        border-radius: 0;
      }
    }
  }
}
