@import "./../../../../sass/variables";

.fondo {
  margin: 0px;
  padding: 0px;
  display: flex;
  //align-items: center;
  justify-content: center;
  background: $colorFondo; // este color esta en carpeta sass/_variables.scss
}

.box-principal {
  min-height: 100vh;
}

.box-filter {
  display: flex;
  button {
    border-radius: 0;
  }
}

.box-fila {
  margin-top: 80px;
}

#btn-add-book{
  border-radius: 0px;
}

table {
  tr {
    a {
      cursor: pointer;
    }
  }
}

img {
  width: 80px;
  height: 100px;
}

.capitalize {
  text-transform: capitalize;
}

input[type="radio"] {
  margin-right: 8px;
}

// poniendo en html color="celeste" de esta forma se cambia de color el mat-button de Angular Material
.mat-celeste {
  background-color: #2b93e6 !important;
  color: #fff !important;
  margin-bottom: 5px !important;
}

.paintYellow {
  // si el book tiene como state = false se pinta de amarillo los <td> de tabla
  background-color: yellow;
}

.modal-header {
  background: $colorNav;
  color: white;
  button {
    color: white;
  }
}

@media (max-width: 700px) {
  // quito la columna y celda de autor de la tabla
  table {
    #th-author,
    #td-author {
      display: none;
    }
    button{
      margin: auto;
      width: 40px;
    }
  }
}

@media (min-width: 1000px) {
  .card {
    width: 1000px;
  }
}
