<div class="container-fluid fondo">
  <div class="container box-principal">
    <div class="row fila1">
      
      <div class="col-md-3">
        <div class="card">
          
          <div class="box">
            <h5>
              <i class="fa fa-search fa-fw text-muted" aria-hidden="true"></i>
              Este mes
            </h5>
            <a (click)="refreshData()">
              <i class="fas fa-sync-alt"></i>
            </a>
          </div>

          <div class="box-container">
            <div class="square-primary">
              <i class="fa fa-tag icon" aria-hidden="true"></i>
            </div>
            <div>
              <div>
                <span class="font-weight-bold ml-2">{{
                  quantityCurrentMonthSales
                }}</span>
              </div>
              <div><span class="text-muted ml-2">Total de ventas</span></div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-3">
        <div class="card">
          <div class="box">
            <h5>
              <i class="fa fa-search fa-fw text-muted" aria-hidden="true"></i>
              Este mes
            </h5>
            <a (click)="refreshData()">
              <i class="fas fa-sync-alt"></i>
            </a>
          </div>

          <div class="box-container">
            <div class="square-green2">
              <i class="fas fa-money-bill-alt icon" aria-hidden="true"></i>
            </div>
            <div>
              <div>
                <span class="font-weight-bold ml-2">{{
                  currentMonthRevenue | currency: "ARS $ ":"symbol"
                }}</span>
              </div>
              <div><span class="text-muted ml-2">Total recaudado</span></div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-3">
        <div class="card">
          <div class="box">
            <h5>
              <i class="fa fa-search fa-fw text-muted" aria-hidden="true"></i>
              Este año
            </h5>
            <a (click)="refreshData()">
              <i class="fas fa-sync-alt"></i>
            </a>
          </div>

          <div class="box-container">
            <div class="square-blue-light">
              <i class="fa fa-tag icon" aria-hidden="true"></i>
            </div>
            <div>
              <div>
                <span class="font-weight-bold ml-2">{{
                  quantityCurrentYearSales
                }}</span>
              </div>
              <div>
                <span class="text-muted ml-2">Ventas en el año</span>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-3">
        <div class="card">
          <div class="box">
            <h5>
              <i class="fa fa-search fa-fw text-muted" aria-hidden="true"></i>
              Este año
            </h5>
            <a (click)="refreshData()">
              <i class="fas fa-sync-alt"></i>
            </a>
          </div>
          
          <div class="box-container">
            <div class="square-brown">
              <i class="fas fa-shopping-basket icon" aria-hidden="true"></i>
            </div>
            <div>
              <div>
                <span class="font-weight-bold ml-2">{{
                  currentYearRevenue | currency: "ARS $ ":"symbol"
                }}</span>
              </div>
              <div>
                <span class="text-muted ml-2 text-small">Total recaudado</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row fila2">
        <div class="card">
          <h4 class="font-weight-bold">Libros mas vendidos top 10</h4>
          <div class="box-flex">
            <div class="img-container">
              <img src="./../../../../../assets/images/barChart.png" />
            </div>
          </div>
          <hr />
          <a class="text-right" [routerLink]="'/sales/top-sales'"
            >Ver detalle ></a
          >
        </div>

        <div class="card">
          <h4 class="font-weight-bold">Recaudacion anual</h4>
          <div class="box-flex">
            <div class="img-container">
              <img
                src="./../../../../../assets/images/lineChart.png"
              />
            </div>
          </div>
          <hr />
          <a class="text-right" [routerLink]="'/sales/annual-sales'">Ver detalle ></a>
        </div>
    
        <div class="card">
          <h4 class="font-weight-bold">Promedio anual de ventas</h4>
          <div class="box-flex">
            <div class="img-container">
              <img
                src="./../../../../../assets/images/grafico-circular-1.png"
              />
            </div>
          </div>
          <hr />
          <a class="text-right" [routerLink]="'/sales/annual-average-sales'">Ver detalle ></a>
        </div>
  
        <div class="card">
          <h4 class="font-weight-bold">Top 5 localidades de consumo</h4>
          <div class="box-flex">
            <div class="img-container">
              <img
                src="./../../../../../assets/images/grafico-circular-1.png"
              />
            </div>
          </div>
          <hr />
          <a class="text-right" href="#">Ver detalle ></a>
        </div>
    </div>
    <!-- LLamada al spinner/cargador para la peticion HTTP ver servicio spinner.service e interceptor.service-->
  <ngx-spinner></ngx-spinner>
  </div>
</div>
