.box {
  background: #1488cc; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #2b32b2,
    #1488cc
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #2b32b2,
    #1488cc
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  margin: 0; // ?
  justify-content: center; // (alinea al centro eje horizontal cualquier elemento que este en div .container)
  // align-items: center; // (alinea al centro eje vertical qcualquier elemento que este en div container)
}

.card {
  width: 100%;
  height: 100%;
  border: none;
}

#btn-login {
  border-radius: 5px;
}

.icon-account-circle {
  font-size: 50px !important;
  color: white !important;
  float: left !important;
}

@media (min-width: 500px) {
  .box {
    display: flex;
    min-height: 100vh;
    align-items: center; // (alinea al centro eje vertical qcualquier elemento que este en div container)
    .card {
      width: 380px;
      height: 500px;
    }
  }
}
