<div class="box">
  <div class="card">
    <div style="background: #ff0226" class="card-header">
      <div class="text-center">
        <mat-icon class="icon-account-circle">account_circle</mat-icon>
        <h2 style="color: white">Admin</h2>
      </div>
    </div>
    <div class="card-body">
      <h3 class="text-center font-weight-bold">Como invitado ingrese:</h3>
      <p class="text-center">email: invitado</p>
      <p class="text-center">password: invitado</p>
      <form [formGroup]="form" (ngSubmit)="login($event)">
        <div class="cont-inputs mt-5">
          <div class="form-group d-flex align-items-center">
            <i class="far fa-envelope fa-lg mr-2 text-muted"></i>
            <input
              type="email"
              class="form-control"
              formControlName="email"
              (ngModelChange)="adminExist = true"
              placeholder="@email"
            />
          </div>
          <div class="form-group d-flex align-items-center">
            <i class="fas fa-key fa-lg mr-2 text-muted"></i>
            <input
              type="password"
              class="form-control"
              formControlName="password"
              (ngModelChange)="adminExist = true"
              placeholder="password"
            />
          </div>
        </div>
        <button
          id="btn-login"
          type="submit"
          style="background: #ff0226"
          class="btn btn-primary btn-lg table mt-5"
        >
          Login
        </button>
      </form>
      <div *ngIf="!adminExist">
        <p class="text-center text-danger">No existe el administrador</p>
      </div>
    </div>
    <!-- LLamada al spinner/cargador para la peticion HTTP ver servicio spinner.service e interceptor.service-->
    <ngx-spinner></ngx-spinner>
  </div>
  <div class="col1">
    <span>col1</span>
  </div>
  <div class="col2">
    <span>col2</span>
  </div>
</div>
